body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  padding: 0px 14px 14px 14px;
  margin: 0px;
  background-color: #def0f3;
}

a {
  color: #236477;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 44px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0px;
}

h2 {
  font-family: Oswald, sans-serif;
  font-size: 26px;
  margin-top: 0px;
  text-align: right;
}

h3 {
  font-family: Oswald, sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 10px;
}

h4 {
  font-family: Oswald, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 10px;
}

p {
  font-weight: 400;
  color: #383838FF;
  max-width: 600px;
  margin-top: 14px;
}

ul {
  padding-left: 30px;
}

li {
  margin-bottom: 12px;
}

.p-light {
  margin-top: 4px;
  color: #B7B7B7FF;
  text-transform: uppercase;
}

.p-sub {
  font-weight: 500;
}

.container {
  width: 1100px;
  max-width: 100%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  box-shadow: 8px 8px 27px 0px #17304220;
}
.header {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 220px;
  box-sizing: border-box;
  background-color: #236477;
  align-items: center;
}
.avatar-block {
  width: 310px;
  min-width: 310px;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.info-top {
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 30px 30px 0px;
  box-sizing: border-box;
}
.name-post-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 350px;
  width: 60%;
}
.subtitle {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  color: #B5D1E2;
  text-transform: uppercase;
}
.contacts-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 270px;
  width: 40%;
}
.a-top {
  font-family: Rubik, sans-serif;
  color: #fff;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  margin-bottom: 4px;
}
.a-top-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
}
.a-top-icon {
  margin: 0px 4px 4px 4px;
  height: 20px;
  width: 20px;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 0px;
  padding-top: 40px;
}
.section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E4EEF1;
  padding-bottom: 40px;
}
.left-block {
  width: 280px;
  max-width: 100%;
  min-width: 280px;
  padding: 0px 10px 0px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  color: #236477;
}
.block-description {
  width: 100%;
  padding: 0px 20px 0px 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.skills-description {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 6px;
  flex-wrap: wrap;
}
.col {
  width: 100%;
  min-width: 300px;
  max-width: 300px;
}
.line-skill {
  background-color: #DDE6E8FF;
  width: 90%;
  height: 6px;
  margin-bottom: 20px;
}
.line-active {
  width: 50%;
  background-color: #4EA0A6FF;
  height: 100%;
}

.html {
  width: 80%;
}

.ps {
  width: 100%;
}

.figma {
  width: 100%;
}
.webflow {
  width: 95%;
}

.illustrator {
  width: 70%;
}

.xd {
  width: 150%;
  background-color: #D53333FF
}

.js {
  width: 10%;
}
.a-description {
  color: #004F66;
  font-size: 18px;
  font-weight: 500;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  background-color: #DFF7FA;
  border-radius: 6px;
  margin-right: 20px;
  transition: 0.6s;
}
.a-description:hover {
  background-color: #FFFFFF;
  transition: 0.6s;
}
.a-link-description {
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.last {
  border: 0px;
  margin-bottom: 30px;
}
.footer {
  background-color: #236477;
  min-height: 120px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}
.footer-text {
  color: #DBFAFF;
  font-size: 22px;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .header {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 30px;
  }
  .avatar-block{
    padding: 30px;
    padding-top: 0px;
  }
  .info-top{
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
    margin-left: 30px;
    padding-top: 0px;
  }
  .name-post-block {
    margin-bottom: 20px;
    width: 100%;
  }
  .contacts-block {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .a-top-icon {
    position: relative;
    order: -1;
    margin: 0px;
  }
  .a-top-link {
    margin: 0px 0px 0px 10px;
  }
  .avatar-block {
    max-width: 250px;
    min-width: 250px;
  }
  .section {
    flex-direction: column;
  }
  .left-block {
    justify-content: flex-start;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .p-sub {
    margin-top: 0px;
  }
  h2 {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .col {
    max-width: 100%;
  }
}